@import url('https://fonts.googleapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background-color: #FFF7E1;
    background-size: contain
    contain;
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF7E1;
    background-image:url('img/Top_Image.png');
    background-repeat: no-repeat;
    background-size: contain;
}
header
{
    position: absolute;
    top: 2cm;
    right: 10cm;
    width: 80%;
    padding: 20px 100px;
    display: block;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}
header .img
{
    padding: 1cm 10%;
    max-width: 45cm;
    object-position: inherit;
    object-fit: contain;
}

.textBox
{
    padding: 16.5cm 0%;
    text-align: justify;
    max-width: 10000px;

}
.textBox p
{
    font-size: large;
    color: #333;
}

@media(max-width: 700px) {
    
    .textBox{
        padding: 4cm 0%;
        text-align: justify;
        max-width: 100000px;
        position: top;
    }

    .textBox p{
    font-size: 12px;
    position: top;
    color: #333;
    }

    section{
    position: relative;
    width: 100%;
    min-height: -1000vh;
    padding: 5px;
    display: flex;
    align-items: center;
    background: #FFF7E1;
    background-image:url('img/Top_Image.png');
    background-repeat: no-repeat;
    background-size: contain;
    }
}

